.navbar {
  padding: 0 3rem;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  position: sticky;
  top: 0;
  border-bottom: 0.2rem solid #eee;
  border-radius: 0 1rem 0.4rem rgb(126, 126, 126);
}
.nav-heading {
  align-items: center;
}
.nav-logo {
  height: 5rem;
}
.nav-heading-small {
  font-size: 2rem;
  color: var(--primary);
}
.nav-search {
  position: relative;
  align-items: center;
}
.search-icon {
  position: absolute;
  left: 1rem;
  color: var(--grey-color);
}
.nav-input {
  height: 3.2rem;
  width: 30rem;
  padding-left: 4.5rem;
  border: 0.2rem solid var(--grey-light);
  border-radius: 0.5rem;
}

.nav-icon {
  color: var(--grey-color);
  margin-right: 1.2rem;
}
