.wishlist-container {
  padding: 3rem 0 2rem;
  gap: 2rem;
  align-items: center;
}
.wishlist {
  background: var(--card-bg);
  padding: 1rem 0;
  width: 50rem;
  border-radius: 1rem;
  gap: 2.5rem;
  box-shadow: 0 0.2rem 0.3rem 0 var(--card-title-color);
}
.wishlist-image {
  width: 30%;
}
.product-category {
  font-size: 1.3rem;
  color: var(--secondary);
}
.wishlist-header {
  gap: 4rem;
  align-items: center;
}
.del-icon {
  cursor: pointer;
}
.cart-btn {
  width: 90%;
  background-color: var(--secondary);
  margin: 2rem 0 0.2rem 0;
}
